{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block title %}
Admin || Edit-Category
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center text-muted mt-5">Add Category</h1>
        <div class="d-flex justify-content-center">
            <div class="col-md-5 shadow-lg p-3">
                <form method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                
                    <input class="btn btn-primary mt-2" type="submit" value="Add Category">
                </form>
            </div>
        </div>
    </div>
{% endblock %}