{% extends 'base.html' %}

{% block title %}
Admin || Categories
{% endblock %}

{% block content %}
    <div class="container-fluid m-xl-2">
      <h1 class="text-center text-muted mt-4">All Categories</h1>
    <!-- <div class="d-flex justify-content-end me-4">
      <a href="{% url 'add_category'  %}" class="btn btn-primary">Add Category</a>
    </div> -->
    {% for msg in messages %}
              
                {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" role="alert">
                    {{msg}}
                </div>
                {% endif %}
            {% endfor %}
        <!-- table start -->
         <table class="table table-striped">
  <thead>
    <tr>
   
      <th scope="col">Category Name</th>
      <th scope="col">Created At</th>
      <th scope="col">Updated At</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for items in category%}
    <tr>
    
      <td>{{items.category_name}}</td>
      <td>{{items.created_at}}</td>
      <td>{{items.updated_at}}</td>
      <td><a href="{% url 'update_category' items.id   %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'delete-category' items.id %}" class="btn btn-danger">Delete</a></td>

    </tr>
    {% endfor%}
  </tbody>
</table>
         <!-- table end -->
    </div>

{% endblock %}