{% extends 'base.html' %}

{% block title %}
Admin || Products
{% endblock %}

{% block content %}
    <div class="container-fluid m-xl-2">
      <h1 class="text-center text-muted mt-4">All Products</h1>
     {% for msg in messages %}
              
                {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" role="alert">
                    {{msg}}
                </div>
                {% endif %}
            {% endfor %}
        <!-- table start -->
         <table class="table table-striped">
  <thead>
    <tr>
    
      <th scope="col">Product Name</th>
      <th scope="col">Product Image</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for items in products%}
    <tr>
  
      <td>{{items.product_name}}</td>
      {% if items.image %}
      <td><img src="{{items.image.url}}" alt="{{items.product_name}}" width="100px" height="100px"> </td>
      {% else %}
      <td>Not found</td>
      {% endif %}
      <td>{{items.description}}</td>
      <td>{{items.price}}</td>
      <td>{{items.category.category_name}}</td>
      <td><a href="{% url 'update_product' items.id  %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'delete-product' items.id %}" class="btn btn-danger">Delete</a></td>

    </tr>
    {% endfor%}
  </tbody>
</table>
         <!-- table end -->
   
    </div>
{% endblock %}