{% extends 'userlayout.html' %}
{% load static %}
{% block title%}
{{product.product_name}}
{% endblock %}

{% block content %}

<div class="container p-4">
    <div class="card mb-3 mt-5" style="max-width: 1500px;">
        {% for msg in messages %}
                {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger" role="alert">
                    {{msg}}
                </div>
                {% endif %}
                
            {% endfor %}
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="{{product.product_name}}">
            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Name: {{product.product_name}}</h5>
                    <p class="card-text">Description: {{product.description}}</p>
                    <p class="card-text">Price: Rs {{product.price}}</p>
                    <p class="card-text">
                        <small class="text-body-secondary">Last updated 3 mins ago</small>
                    </p>
                    <a href="{% url 'add_to_cart' product.id  %}" class="btn btn-success">Add to Cart</a>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}